<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
</head>
<body>
    <h2>Add Ninja</h2>

    <form action="/create_ninja", method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name">
        <label for="age">Age</label>
        <input type="number" name="age">
        <label for="dojo_id">Choose a Dojo:</label>
        <select name="dojo_id">
            {% for one_dojo in dojos %}
            <option value="{{ one_dojo.id }}">
                {{ one_dojo.name }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Create Ninja">
    </form>

    <div>
        <button><a href="/go_home">Home</a></button>
    </div>
</body>
</html>